#proba {
	z-index: 1000;
	display: none;
	position: absolute;
	/*left: 700px;
	top: 400px;*/
	border: solid black 1px;
	padding: 15px;
	background-color: #fff;
}

.lightbox_links {
	display: block;
}

#msg.ok {
	color: #14cf14; /*green*/
}

#msg.my_error {
	color: #e81919; /*red*/
}

.lightbox_del {
	color: #e81919; /*red*/
	display: block;
	padding: 4px 0px 0px 10px;
	margin: 0px;
}

#lightbox-block {
	background-color: white;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
    border-top: 3px solid gray;
    bottom: 0;
    margin: 0 auto;
    padding: 10px;
    position: fixed;
    width: 877px;
    z-index: 100;
}

#lightbox-block-header {
	padding: 0;
	margin: 0;
	font-size: x-small;
}

#lightbox-block-header h2 {
	font-size: small;
}

#lightbox-block-header-open:hover {
	cursor: hand;
	cursor: pointer;
}

#lightbox-block-header-close:hover {
	cursor: hand;
	cursor: pointer;
}

#lightbox-block-content{
	display: none;
	font-size: small;
}

.lightbox-display {
	float: left;
	margin-right: 40px;
	text-align: center;
}

.clear-left {
	clear: left;	
}