#download-box {
	z-index: 1000;
	display: none;
	position: absolute;
	/*left: 700px;
	top: 400px;*/
	border: solid black 1px;
	padding: 15px;
	background-color: #fff;
}

#licence-box {
	float: left;
	padding-left: 10px;
	/*top: 5px;
	left: 0px;*/
}

#licence-box a {
	display: block;
}